.button-customization{
    border: 2x solid grey !important;

}


.pill-td{
    text-align: center;
}

.pill-td span{
    padding: 8px 10px;
    font-size: 14px;
    border-radius: 50px;
}

.pill-td span a{
    cursor: pointer;
}

.bg-warning, .bg-warning > a {
    color: white !important;
}


.commande-status-pill a{
    height: 25px;
    font-size: 1rem;
    font-weight: 400;
}


.blob {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


.blob.red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}


.dropdown-overflow{
	height:109px;
	overflow-y: auto;
}

.table th, .table td {
    width: 30px;
}
