.form-card{
    margin: 20px 50px 40px 50px;
}

@media (max-width: 600px) {
    .form-card{
        margin: 20px 20px 40px 20px;
    }
}

.card-ajouterPayment{
    height: 180px;
}

@media (max-width: 768px) {
    .card-ajouterPayment{
        height: 240px;
    }
}

.error{
    color: rgb(230 0 0);
}
