.pdfTable table,.pdfTable th,.pdfTable td {
    border: 3px double;
  }

  .pdfTable th,.pdfTable td{
    padding:5px 16px;
    text-align: center;
    width: 300px;
  }

  .pdfTable{
    border: 6px black ridge;
  }